.journal__main-content{
	display: flex;
}

.journal__sidebar{
	background-color: $dark-grey;
	color: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-left: 10px;
	width: 450px;
}

.journal__sidebar-navbar{
	display: flex;
	justify-content: space-between;
}

.journal__sidebar-navbar h3{
	font-weight: lighter;
}

.journal__new-entry{
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
	transition: color .1s ease;
	&:hover{
		color: darken($color: white, $amount: 15);
	}
}

.jourlan__entries{
	height: max-content;
	margin-top: 30px;
	padding-right: 10px;
	padding-top: 10px;
	flex: 1 1 auto;
	overflow: auto;
}

.journal__entry{
	background-color: white;
	cursor: pointer;
	border-radius: 5px;
	color: $dark-grey;
	display: flex;
	margin-bottom: 10px;
	overflow: hidden;
	max-height: 75px;
	transition: all 0.3s ease;
	&:hover{
		transform: translateX(5px);
		box-shadow: 0px 0px 8px rgba(255,255,255,0.7);
	}
}

.journal__entry-picture{
	height: 75px;
	min-width: 75px;
}

.journal__entry-body{
	padding: 10px;
}

.journal__entry-title{
	font-size: 14px;
	font-weight: bold;
}

.journal__entry-content{
	font-size: 10px;
	max-width: 180px;
}

.journal__entry-date-box{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px 10px;
	background-color: $light-grey;
}
.journal__logout-btn{
	margin-right: 10px;
}